html{
    background: dimgray;
}

#MenuPC{
    display: none;
}

#contenu{
    position: absolute;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 120px;
    top: 80px;
}

#NomSite{
    position: absolute;
    top: 0px;
    left: calc(50% - 150px);
    font-size: 40px;
    text-shadow: none;
}

#contenu h1{
    text-align: left;
    font-size: 25px;
}

.menu {
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
    visibility: hidden;
}

.menu-checkbox:checked ~ .menu {
    max-height: none;
    margin: 1em 0;
    opacity: 1;
    visibility: visible;
    background: #3B3B3B;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: none;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 370px;
    padding: 10px;
    box-sizing: border-box;
}

.menu li, .menu a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: none;
}

.Main-navigation{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100vw;
    background: yellow;
}

.menu-checkbox {
	display: none;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #00A1A1 auto 5px;
}

.menu-toggle{
    padding: 0em .25em;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
    transition: .1s ease-in-out;
    transform: scale(1);
}

.menu-toggle:active{
    transition: .1s ease-in-out;
    transform: scale(.8);
}

.main-navigation{
    display: block;
}

.main-navigation img{
    height: 30px;
}

#menu_checkbox + label{
    background-image: url(Images/MenuMobile.png);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-navingation, .nav-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
}

.menu a:hover{
    color: black;
}

.menu a:active{
    color: red;
}