html, body{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: rgb(0, 144, 163);
}


#contenu{
    position: absolute;
    top: 180px;
    left: calc(50% - 450px);
    width: 900px;
    background: #00D4F0;
    padding: 10px 10px 170px 10px;
    text-align: left;
    box-sizing: border-box;
}

#contenu h1{
    color: #FF7E1C;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

#contenu img{
    width: 300px;
    height: auto;
}

.button{
    text-align: center;
    display: inline-block;
    transition-duration: .4s;
}
.button1{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: large;
}
.button1:hover{
    background-color: F06A00;
    color: black;
}

.horizontal-center{
    width: 100%;
    text-align: center;
}

#contenu figcaption{
    font-style: italic;
    width: 300px;
    text-align: center;
    display: block;
}

#contenu figure{
    float:right;
    margin: 10;
}

p{
    color : black;
    font-size: 2.5ch;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#NomSite{
    font-family: Verdana, Arial, sans-serif;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    color: #F06A00;
    /*animation: couleurs 15s infinite linear;*/
}

@keyframes couleurs {
    
  from {
	color: red;
  }
    
  25% {
	color: blue; 
  }
    
  50% {
	color: green;
  }
    
  75% {
	color: yellow;
  } 
    
  to {
	color: red;
  }
}

nav{
    position: absolute;
    top: 120px;
    left: calc(50% - 350px);
    z-index: 1;
    box-shadow: white 0 0 10px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
 }

#menu li {
    float:left;
    margin:auto;
    padding:0;
    background-color:#04C7E7;
 }

#menu li a {
    display:block;
    width:100px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:darkblue;
    text-decoration:none;

 }

#menu li a:hover {
    color:#FFD700;
    background-color: chocolate;
    transition: .2s ease-in-out;
 }

#menu li a{
    transition: .2s ease-in-out;
}

#menu ul li ul {
    display: none;
 }

#menu ul li:hover ul {
    display: block;
 }
#menu li:hover ul li {
    float:none;
 }

#menu li ul {
    position:absolute;
 }

#Reseaux{
    background: lightblue;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: white 0 0 10px;
}

#Reseaux img{
    width: 50px;
    height: auto;
    margin: 3px;
    transition: .2s ease-in-out;
    transform: scale(1);
    
}

#Reseaux img:hover{
    transition: .2s ease-in-out;
    transform: scale(1.2);
}

#Reseaux p{
    margin-left: 5px;
    font-weight: bold;
}

#choixtheme{
    background: lightblue;
    position: fixed;
    bottom: 20px;
    left: 20px;
    box-shadow: white 0 0 10px;
    width: 100px;
    padding: 10px;
    align-items: center;
    height: 100px;
}

#choixtheme label{
    font-weight: bold;
}

#choixtheme input{
    margin: 3px;
}

#copyright{
    font-size: 35px;
}

.main-navigation{
    display: none;
}